version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: virtual-stock-trading-frontend
    ports:
      - "8080:80"
    restart: unless-stopped
